---
interface Props {
  href: string;
}
---

<main
  class="flex flex-col w-full h-screen bg-white align-middle justify-center gap-4 p-20"
>
  <h1 class="text-teal-200 text-9xl font-extrabold tracking-wider text-center">
    404
  </h1>
  <img class="w-1/3 self-center" src="/404.avif" alt="404" />
  <p class="text-center text-xl font-semibold">Where are You?</p>

  <a href="/" class="m-auto">
    <button
      class="w-32 py-2 font-semibold rounded-lg bg-teal-500 border-2 self-center mt-4 cursor-pointer text-slate-50 tracking-wide text-l"
    >
      Go Home
    </button>
  </a>
</main>
