---
import { Image } from "astro:assets";

interface Props {
  // image: any; //TODO
  title: string;
  body: string;
  date: string;
}

const { date, title, body } = Astro.props;
---

<article class="w-60 h-80 bg-slate-400 rounded-md p-4">
  <div class="bg-slate-50 w-full h-1/2 rounded-t-md"></div>
  <!-- <Image src={image} /> -->
  <div class="mt-4">
    <h3 class="font-semibold">{title}</h3>
    <p class="text-base">{body}</p>
    <span class="text-sm font-thin">{date}</span>
  </div>
</article>
