---

---

<header class="flex w-full max-w-4xl mx-auto h-12 font-xl items-center">
  <nav class="flex w-full justify-between text-gray-50 p-2">
    <div>Blog del nevado</div>
    <ul class="flex justify-around gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>Hoteles</li>
      <li>Restaurantes</li>
      <li>Contacto</li>
    </ul>
  </nav>
</header>

<style>
  ul > li {
    cursor: pointer;
  }
</style>
