---

---

<header class="flex w-full">
  <nav class="flex w-full justify-between text-gray-50 p-2">
    <div>Blog del nevado</div>
    <ul class="flex justify-around gap-4">
      <li>Home</li>
      <li>Blog</li>
      <li>Hoteles</li>
      <li>Restaurantes</li>
      <li>Contacto</li>
    </ul>
  </nav>
</header>

<style>
  ul > li {
    cursor: pointer;
  }
</style>
