---
interface Props {
  imgSrc: string;
  title: string;
}

const { imgSrc, title } = Astro.props;
---

<article class="w-full mb-10 relative rounded-lg">
  <img class="opacity-85 mx-auto w-full" src={imgSrc} alt={title} />
  <a class="absolute top-1 ml-4 mt-2 text-7xl" href=""></a>
</article>

<style>
  article {
    /* box-shadow: 2px 2px 13px 2px rgb(246 239 255 / 44%); */
  }
</style>
