---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <BaseHead
    title={title}
    description="Explora el Nevado de El Cocuy con nuestras guías detalladas de rutas de senderismo, consejos de viaje, información sobre flora y fauna, y recomendaciones de alojamiento. Planifica tu aventura perfecta en uno de los destinos naturales más espectaculares de Colombia"
  />
  <Header />
  <body class="bg-lightBg dark:bg-darkBg text-lightText dark:text-darkText">
    <slot />
    <Footer />
  </body>
</html>
