---
const {
  content: { title, pubDate, imgSrc, imageDescription },
} = Astro.props;
---

<main class="max-w-4xl mx-auto bg-lightBg dark:bg-darkBg">
  <section class="max-w-6xl mx-4 lg:mx-auto max-sm:mx-0 my-0">
    <h2 class="text-4xl mb-2 font-bold text-pretty sm:text-4xl max-sm:mx-4">
      {title}
    </h2>
    <span class="text-xs font-thin max-sm:mx-4">{pubDate}</span>
    <div>
      <img
        src={imgSrc}
        alt={imageDescription}
        class="w-full object-cover my-10 md:mx-auto"
      />
    </div>
    <div
      class="md:px-0 max-sm:mx-4 text-lightText dark:text-darkText text-pretty font-normal text-lg"
    >
      <slot />
    </div>
  </section>
</main>
